<div class="product jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="thumbnail main-image-wrapper">
          <img src="<%= image_path 'router/router-main.jpg' %>" alt="" class="main-image">
        </div>
        <div class="previews">
          <div class="col-xs-2">
            <div class="thumbnail">
              <img src="<%= image_path 'router/router-1.jpg' %>">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="thumbnail">
              <img src="<%= image_path 'router/router-2.jpg' %>">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="thumbnail">
              <img src="<%= image_path 'router/router-3.jpg' %>">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="thumbnail">
              <img src="<%= image_path 'router/router-4.jpg' %>">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="thumbnail">
              <img src="<%= image_path 'router/router-5.jpg' %>">
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8 col-xs-12">
        <div class="header">
          <div class="qr">
            <%= raw @qr.as_html %>
          </div>
          <h1>Router</h1>
        </div>
        <div class="details">
          <div class="row">
            <p class="col-sm-3">
              <b>Category</b>
            </p>
            <p class="col-sm-9">
              Back Pack
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Brand</b>
            </p>
            <p class="col-sm-9">
              Northface Ltd.
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Manufacturer</b>
            </p>
            <p class="col-sm-9">
              Northface Labs, Inc.
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Price</b>
            </p>
            <p class="col-sm-9">
              $123.50
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Stocks</b>
            </p>
            <p class="col-sm-9">
              500 <span class="small text-muted">Restocked on July 5, 2015</span>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Materials</b>
            </p>
            <p class="col-sm-9">
              <!--Wool, Cotton, Cloth-->
              <span class="label label-default">Wool</span>
              <span class="label label-default">Cotton</span>
              <span class="label label-default">Cloth</span>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Sizes</b>
            </p>
            <p class="col-sm-9">
              <span class="label label-default">Small</span>
              <span class="label label-default">Medium</span>
              <span class="label label-default">Large</span>
              <span class="label label-default">Jumbo</span>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Colors</b>
            </p>
            <p class="col-sm-9">
              <span class="label label-default">Black</span>
              <span class="label label-default">Blue</span>
              <span class="label label-default">Red</span>
              <span class="label label-default">Gray</span>
              <span class="label label-default">Green</span>
              <span class="label label-default">Pink</span>
            </p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam cupiditate, dolore dolores eius
            fuga, laborum, minus nam natus nulla officia officiis optio pariatur quae quas quidem reiciendis suscipit
            voluptatibus.</p>
          <div class="actions">
            <div class="btn-group">
              <div class="btn-group">
                <button class="btn btn-primary">
                  <i class="fa fa-pencil"></i>
                  Edit
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>