<div class="stores">
  <div class="container">
    <div class="page-header">
      <h1>My Stores</h1>
      <div class="pull-right">
        <a href="<%= store_form_mockups_path %>" class="btn btn-primary"><%= fa_icon 'plus' %> Store</a>
        <input type="search" class="form-control" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <a class="panel panel-default bootcards-media" href="<%= store_mockups_path %>">
          <div class="panel-heading">
            <h3 class="panel-title">Keppel Shop</h3>
          </div>
          <div>
          </div>
          <img src="<%= image_path 'istock1.jpg' %>" class="img-responsive"/>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Address</p>
              <h4 class="list-group-item-heading">Keppel Center, Cebu City</h4>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <p class="list-group-item-text">Type</p>
                  <h4 class="list-group-item-heading">Business Center</h4>
                </div>
                <div class="col-md-4">
                  <p class="list-group-item-text">Products</p>
                  <h4 class="list-group-item-heading">44</h4>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris
                tellus, vehicula ut tellus id, suscipit dapibus tortor.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="panel panel-default bootcards-media" href="<%= store_mockups_path %>">
          <div class="panel-heading">
            <h3 class="panel-title">Times Square</h3>
          </div>
          <div>
          </div>
          <img src="<%= image_path 'times-square.jpg' %>" class="img-responsive"/>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Address</p>
              <h4 class="list-group-item-heading">New York City</h4>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <p class="list-group-item-text">Type</p>
                  <h4 class="list-group-item-heading">High Rise</h4>
                </div>
                <div class="col-md-4">
                  <p class="list-group-item-text">Products</p>
                  <h4 class="list-group-item-heading">124,124</h4>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Where every one wants to go besides Las Vegas.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a class="panel panel-default bootcards-media" href="<%= store_mockups_path %>">
          <div class="panel-heading">
            <h3 class="panel-title">Keppel Shop</h3>
          </div>
          <div>
          </div>
          <img src="<%= image_path 'shopping.jpg' %>" class="img-responsive"/>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Address</p>
              <h4 class="list-group-item-heading">Keppel Center, Cebu City</h4>
            </div>
            <div class="list-group-item">
              <div class="row">
                <div class="col-md-8">
                  <p class="list-group-item-text">Type</p>
                  <h4 class="list-group-item-heading">Business Center</h4>
                </div>
                <div class="col-md-4">
                  <p class="list-group-item-text">Products</p>
                  <h4 class="list-group-item-heading">44</h4>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mauris
                tellus, vehicula ut tellus id, suscipit dapibus tortor.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>