<%= form_for @store, :html => {:class => "form-horizontal store"} do |f| %>

    <% if @store.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@store.errors.count, "error") %> prohibited this store from being
              saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @store.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <label>Name*</label>
      <%= f.text_field :name, :required => true, placeholder: 'Name', :class => 'form-control' %>
      <%= f.error_span(:name) %>
    </div>
    <div class="form-group">
      <label>Category</label>
      <%= f.select :category, Store.store_types.values, {include_blank: 'select category'}, :class => 'form-control' %>
      <%= f.error_span(:category) %>

    </div>
    <div class="form-group">
      <label>Contact</label>
      <%= f.text_field :contact, placeholder: 'Contact', :class => 'form-control' %>
      <%= f.error_span(:contact) %>
    </div>
    <div class="form-group">
      <label>Location</label>
      <%= f.text_field :location, placeholder: "Location", :class => 'form-control' %>
      <%= f.error_span(:location) %>
    </div>
    <div class="form-group">
      <label>Store Hours</label>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :opening_time, :class => 'form-control', placeholder: 'From' %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :closing_time, :class => 'form-control', placeholder: 'To' %>
        </div>
        <%= f.error_span(:opening_time) %>
        <%= f.error_span(:closing_time) %>
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <%= f.text_area :description, rows: '2', :class => 'form-control', placeholder: 'Description' %>
      <%= f.error_span(:description) %>
    </div>
    <div class="form-group">
      <label>Image</label>
      <%= f.file_field :avatar, placeholder: 'Select image' %>
      <%= image_tag @store.avatar.url, size: "100x100" %>
      <%= f.error_span(:avatar) %>
    </div>

    <p class="divider">WEB INFORMATION</p>
    <div class="form-group">
      <label>Facebook</label>
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'facebook' %>
          </span>
        <%= f.text_field :facebook_page, :class => 'form-control', placeholder: 'Facebook' %>
        <%= f.error_span(:facebook_page) %>
      </div>
    </div>
    <div class="form-group">
      <label>Twitter</label>
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'twitter' %>
          </span>
        <%= f.text_field :twitter_page, :class => 'form-control', placeholder: 'Twitter' %>
        <%= f.error_span(:twitter_page) %>
      </div>
    </div>
    <div class="form-group">
      <label>Website</label>
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'globe' %>
          </span>
        <%= f.text_field :website, :class => 'form-control', placeholder: 'Website' %>
        <%= f.error_span(:website) %>
      </div>
    </div>

    <p class="help-block">Fields with <b>*</b> are required.</p>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Done</button>

<% end %>
