<center>
  <%= form_for(@store) do |f| %>
      <% if @store.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

            <ul>
              <% @store.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= image_tag @store.avatar.url, size: "100x100" %>
      <div class="field">
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :contact %><br>
        <%= f.text_field :contact %>
      </div>
      <div class="field">
        <%= f.label :location %><br>
        <%= f.text_field :location %>
      </div>
      <div class="field">
        <%= f.label :category %><br>
        <%= f.select :category, @store.store_types.values, {include_blank: 'select category'} %>
      </div>
      <div class="field">
        <%= f.label :store_hours %><br>
        <%= f.text_field :store_hours %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description %>
      </div>
      <div class="field">
        <%= f.label :website %><br>
        <%= f.text_field :website %>
      </div>
      <div class="field">
        <%= f.label :facebook_page %><br>
        <%= f.text_field :facebook_page %>
      </div>
      <div class="field">
        <%= f.label :twitter_page %><br>
        <%= f.text_field :twitter_page %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>

  <% end %>
</center>
