<% @store_order = StoreOrder.find_by_id(params[:id]) %>
<br><br>
<strong><h1>Order: <%= @store_order.id %></h1></strong>
<h3>
  <p>
    <strong>Status:</strong>
    <%= @store_order.status %>
  </p>
  <p>
    <strong>Store:</strong>
    <%= Store.find_by_id(@store_order.store_id).name %>
  </p>
</h3>
<br>
<% if !current_user.stores.empty? %>
    <%#- model_class = Order -%>
    <div class="page-header">
      <h1><%= t '.title', :default => "Items" %></h1>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= "Item Name" %></th>
        <th><%= "Item Price" %></th>
        <th><%= "Quantity" %></th>
        <th><%= "Price" %></th>
      </tr>
      </thead>
      <tbody>
      <% StoreOrderItem.where(store_order_id: @store_order.id).each do |item| %>
          <tr>
            <td><%= StoreProduct.find_by_id(item.store_product_id).get_name %></td>
            <td><%= StoreProduct.find_by_id(item.store_product_id).price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.set_price %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<%#= will_paginate @store_orders, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0 %>
<%#= link_to('Process', store_order_path(s_order.id), class: 'btn btn-default') %>
<%#= link_to("Cancel", store_order_path(s_order.id), class: 'btn btn-danger') %>
<p>
  <strong>Total cost:</strong>
  <%= @store_order.set_total_cost %>
</p>