<%- model_class = Store -%>
<div class="stores">
  <div class="container">
    <div class="page-header">
      <h1>My Stores</h1>
      <div class="pull-right">
        <a href="<%= new_store_path %>" class="btn btn-primary"><%= fa_icon 'plus' %> Store</a>
        <input type="search" class="form-control" placeholder="Search">
      </div>
    </div>

    <div class="row">
      <!-- START LIST OF STORES -->
      <% @stores.each do |store| %>
          <div class="col-lg-4">
            <a class="panel panel-default bootcards-media" href="<%= store_path(store) %>">
              <div class="panel-heading">
                <h3 class="panel-title"><%= store.name %></h3>
              </div>
              <div>
              </div>
              <%= image_tag(store.avatar, class: "img-responsive") %>
              <div class="list-group">
                <div class="list-group-item">
                  <p class="list-group-item-text">Address</p>
                  <h4 class="list-group-item-heading"><%= store.location %></h4>
                </div>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-md-8">
                      <p class="list-group-item-text">Type</p>
                      <h4 class="list-group-item-heading"><%= store.category %></h4>
                    </div>
                    <div class="col-md-4">
                      <p class="list-group-item-text">Products</p>
                      <h4 class="list-group-item-heading"><%= store.store_products.size %></h4>
                    </div>
                  </div>
                </div>
                <div class="list-group-item">
                  <p class="list-group-item-text"><%= store.description %></p>
                </div>
              </div>
            </a>
          </div>

          <%# if (index % 2) != 0 %>
              <!--<div class="row featurette">-->
                <!--<div class="col-md-7">-->
                  <!--<h2 class="featurette-heading"><%= store.name %></h2>-->
                  <!--<p class="lead">-->
                    <!--<strong><%= model_class.human_attribute_name(:category) %>: </strong>-->
          <%#= store.category %>
                  <!--</p>-->
                  <!--<p class="lead">-->
                    <!--<strong><%= model_class.human_attribute_name(:location) %>: </strong>-->
          <%#= store.location %>
                  <!--</p>-->
                  <!--<p class="lead">-->
                    <!--<strong><%= model_class.human_attribute_name(:description) %>: </strong><%= store.description %></p>-->
                  <!--<p class="lead">-->
                    <!--<strong><%= model_class.human_attribute_name(:website) %>: </strong><%= store.website %></p>-->
                  <!--<p class="lead">-->
                    <!--<strong><%= model_class.human_attribute_name(:facebook_page) %>: </strong>-->
          <%#= store.facebook_page %>
                  <!--</p>-->
                  <!--<p class="lead">-->
                    <!--<strong><%#= model_class.human_attribute_name(:average_sales) %> : </strong>-->
          <%#= store.average_sales ? store.average_sales : 0.00 %>
          <!--</p>-->

                  <%#= link_to 'Add Product', new_store_product_path(:store_id => store.id), :class => 'btn btn-default btn-xs' %>
                  <%#= link_to t('.show', :default => t("helpers.links.show")),
                              store_path(store), :class => 'btn btn-default btn-xs' %>
                  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_store_path(store), :class => 'btn btn-default btn-xs' %>
                  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                              store_path(store),
                              :method => :delete,
                              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                              :class => 'btn btn-xs btn-danger' %>
                <!--</div>-->
                <!--<div class="col-md-5">-->
                  <!-- <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
                  <!--<%= image_tag(store.avatar, class: "featurette-image img-responsive center-block") %>-->
                <!--</div>-->
              <!--</div>-->

          <%# end %>
      <% end %>
       <!-- END LIST OF STORES -->
    </div>
  </div>
</div>
<br><%#= link_to t('.new', :default => t("helpers.links.new")),
                new_store_path,
                :class => 'btn btn-primary' %>


