<p id="notice"><%= notice %></p>

<center>
  <%= image_tag @user.avatar.url, size: "200x200" %>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Login status:</strong>
    <%= @user.login_status %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
</center>
