<p id="notice"><%= notice %></p>

<center>
  <%= image_tag @user.avatar.url, size: "200x200" %>
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Login status:</strong>
    <%= @user.login_status %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= @user.password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Store/s:</strong>
  </p>
  <table>
    <tbody>
    <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= link_to 'Show', store %></td>
          <td><%= link_to 'Edit', edit_store_path(store) %></td>
          <td><%= link_to 'Destroy', store, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table><br>

  <%= link_to 'Edit Account', edit_user_path(@user) %> |
  <%= link_to 'Create Store', new_store_path %> |
  <%= link_to 'Back', users_path %>
</center>
