<%= form_for @store_product, :class => "form form-horizontal store_product", multipart: true do |f| %>
    <div class="col-md-8 col-md-offset-2">
      <h2>
        <%= (@store_product.new_record?) ? 'New product' : 'Update product' %>
      </h2>
    </div>
    <% if @store_product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@store_product.errors.count, "error") %> prohibited this store_product
              from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @store_product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <!--<div class="row">-->
    <!--<ul class="thumbnails files">-->
    <!--<%# unless @store_product.pictures.empty? %>-->
    <%# @store_product.pictures.each do |pic| %>
    <%#= f.fields_for 'pictures_attributes[]', pic do |fp| %>
    <%#= fp.hidden_field :id %>
    <!--<li class="span3">-->
    <!--<div class="thumbnail">-->
    <%#= image_tag pic.image.url, size: '200x200' %>
    <!--<div class="caption">-->
    <!--<p style="text-align: center;">-->
    <%#= fp.check_box :_destroy, value: true %>
    <%#= fp.label 'delete' %>
    <!--</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</li>-->
    <!--<%# end %>-->
    <!--<%# end %>-->
    <!--<%# end %>-->
    <!--</ul>-->
    <!--</div>-->


    <div class="col-md-4 col-md-offset-2">
      <!--<h2>Add a product</h2>-->
      <div class="form-group">
        <label>Name*</label><br>
        <%= f.text_field :name, placeholder: "Name", :required => true, :class => 'form-control', :id => 'f-name', autocomplete: 'off' %>
        <ul id="namelist" class="hidden">
          <%# Product.all.order('name ASC').each do |p| %>
          <% Product.new.all_unique('name').each do |n| %>
              <li> <%= n %> </li>
          <% end %>
        </ul>
        <%= f.error_span(:name) %>
      </div>
      <div class="form-group">
        <label>Category*</label><br>
        <%= f.text_field :product_type, placeholder: :product_type.capitalize, :class => 'form-control', :id => 'f-product_type', autocomplete: 'off' %>
        <ul id="producttypelist" class="hidden">
          <%# Product.all.order('product_type ASC').each do |p| %>
          <% ProductType.new.all_unique.each do |p| %>
              <li> <%= p %> </li>
          <% end %>
        </ul>
        <%= f.error_span(:product_type) %>
      </div>
      <div class="form-group">
        <label>Brand*</label><br>
        <%= f.text_field :brand, placeholder: "Brand", :class => 'form-control', :id => 'f-brand', autocomplete: 'off' %>
        <ul id="brandlist" class="hidden">
          <%# Product.all.order('brand ASC').each do |p| %>
          <% Product.new.all_unique('brand').each do |b| %>
              <li> <%= b %> </li>
          <% end %>
        </ul>
        <%= f.error_span(:brand) %>
      </div>
      <div class="form-group">
        <label>Manufacturer*</label><br>
        <%= f.text_field :manufacturer, placeholder: :manufacturer.capitalize, :class => 'form-control', :id => 'f-manufacturer', autocomplete: 'off' %>
        <ul id="manuflist" class="hidden">
          <%# Product.all.order('manufacturer ASC').each do |p| %>
          <% Product.new.all_unique('manufacturer').each do |m| %>
              <li> <%= m %> </li>
          <% end %>
        </ul>
        <%= f.error_span(:manufacturer) %>
      </div>
      <div class="form-group">
        <label>Price</label>
        <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'dollar' %>
          </span>
          <%= f.text_field :price, placeholder: :price.capitalize, :class => 'form-control' %>
          <%= f.error_span(:price) %>
        </div>
      </div>
      <div class="form-group">
        <label>Stocks*</label>
        <%= f.text_field :stock, placeholder: :stock.capitalize, :class => 'form-control' %>
        <%= f.error_span(:stock) %>
      </div>
      <div class="form-group">
        <label>Description</label>
        <%= f.text_area :description, rows: "3", placeholder: :description, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-md-4">
      <p class="divider without-hr">IMAGES</p>
      <div class="row">
        <% unless @store_product.pictures.empty? %>
            <% @store_product.pictures.each do |pic| %>
                <%= f.fields_for 'pictures_attributes[]', pic do |fp| %>
                    <div class="col-xs-3">
                      <div class="thumbnail">
                        <%= image_tag pic.image.url %>
                        <%= link_to :class => 'close' do %>
                            &times;
                        <% end %>
                      </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
        <div class="col-xs-3">
          <div class="thumbnail">
            <img src="<%= image_path 'router/router-1.jpg' %>">
            <div class="close">&times;</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="file" placeholder="Select image">
      </div>

      <div id="addVariant">
        <p class="divider">VARIANTS</p>
        <% @store_product.variants.each do |v| %>
            <%= render 'variant_form', variant: v, f: f %>
        <% end %>
      </div>
      <a href="javascript:;" id="addNewVariant"><%= fa_icon 'plus' %> Variant</a>
      <%= f.hidden_field :store_id, :value => params[:store_id] %>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <p class="help-block">Fields with <b>*</b> are required.</p>
      <%= f.submit " Done ", :class => 'btn btn-lg btn-primary btn-block' %>
    </div>

    <script>
      window.onload = init_forms_autocomplete();
      variant_complete();
    </script>
<% end %>