<%= form_for @store_product, :html => {:class => "form-horizontal store_product", multipart: true} do |f| %>

    <% if @store_product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@store_product.errors.count, "error") %> prohibited this store_product
              from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @store_product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="row">
      <ul class="thumbnails files">
        <% unless @store_product.pictures.empty? %>
            <% @store_product.pictures.each do |pic| %>
                <%= f.fields_for 'pictures_attributes[]', pic do |fp| %>
                    <%= fp.hidden_field :id %>
                    <li class="span3">
                      <div class="thumbnail">
                        <%= image_tag pic.image.url, size: '200x200' %>
                        <div class="caption">
                          <p style="text-align: center;">
                            <%= fp.check_box :_destroy, value: true %>
                            <%= fp.label 'delete' %>
                          </p>
                        </div>
                      </div>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div class="control-group">
      <%= f.label :pictures, :class => 'control-label' %><br>

      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true %><br>
      </div>
    </div>

    <div class="form-group">
      <%#= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, placeholder: :name.capitalize, :required => true, :class => 'form-control' %>
      </div>
      <%= f.error_span(:name) %>
    </div>

    <div class="form-group">
      <%#= f.label :product_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10" id="category-select">
        <%= f.select :product_type, ProductType.all.order('category ASC').collect { |p| p.category } << ProductType.new(:category => 'New Category').category, {include_blank: 'Select Category'}, :class => 'form-control' %>
      </div>
      <%= f.error_span(:product_type) %>
    </div>

    <!--<div class="form-group" <%#= 'hidden' unless params[:product_type].to_s == 'New Category' %>>-->
    <!--<div class="col-lg-10" id="category-select">-->
    <!--<%#= f.text_field :product_type, placeholder: 'Category', :class => 'form-control' %>-->
    <!--</div>-->
    <!--<%#= f.error_span(:product_type) %>-->
    <!--</div>-->
    <div class="form-group">
      <%#= f.label :brand, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :brand, placeholder: :brand.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:brand) %>
    </div>
    <div class="form-group">
      <%#= f.label :manufacturer, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :manufacturer, placeholder: :manufacturer.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:manufacturer) %>
    </div>

    <div class="form-group">
      <%#= f.label :price, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :price, placeholder: :price.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:price) %>
    </div>
    <div class="form-group">
      <%#= f.label :stock, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :stock, placeholder: :stock.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:stock) %>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <%= f.text_field :description, placeholder: :description, :class => 'form-control' %>
      </div>
      <%= f.error_span(:description) %>
    </div>

    <!--<div class="form-group">-->
      <!--<div class="col-lg-10">-->
        <%#= f.label :variant_category, "Variance Category" %><br>
        <!--<%= f.text_field :variant_category, placeholder: :variant_category, :class => 'form-control' %>-->
      <!--</div>-->
      <!--<%#= f.error_span(:description) %>-->
    <!--</div>-->

    <!--<div>-->
      <%#= f.label :variant_tokens, "Variance Value" %><br>
      <%#= f.text_field :variant_tokens, "data-pre" => @store_product.variants.map{|e|{name: e.value}}.to_json %><br>
    <!--</div>-->

    <div id="addVariant">
      <% @store_product.variants.each do |v| %>
          <li>
            <%= render 'variant_form', variant: v, f: f %>
            <a href="#" id="cancel_variant" class="btn btn-default">Cancel Variant</a>
          </li>
      <% end %>
    </div>
    <br><a href="javascript:;" id="addNewVariant" class="btn btn-default">Add New Variant</a>

    <div class="hide" id="new_variant_form">
      <%= render 'variant_form', variant: Variant.new %>
    </div>
    <%= f.hidden_field :store_id, :value => params[:store_id] %>

    <script>
        $(document).ready(function () {
            $("#addNewVariant").click(function () {
                $.ajax({
                    url: "/store_products/new_variant_fields",
                    type: "GET",
                    success: function (data) {
                        $("#addVariant").append('<li>'
                        + data
                        + '<a href="#" id="cancel_variant" class="btn btn-default">Cancel Variant</a>'
                        + '</li>').html();
                    }
                })
            });

            $("#addVariant").on('click', '#cancel_variant', function () {
                $(this).parent().find('.destroy-flag').val('true')
                $(this).parent().hide()
            });
            $('form').submit(function (e) {
                $("#new_variant_form").remove()
            })
        });
    </script>

    <script>
        //      $(document).ready(function () {
        //        $("#category-select").change(function () {
        //          var selected_category = $(this).val();
        //          var products = $(".form-control");
        //          console.log("CATEGORY :: ");
        //          console.log(selected_category);
        //          if (selected_category != 'a') {
        //            console.log("HERE");
        //            $(this).textContent;
        //          }
        //          console.log("DONE");
        //        });
        //      });
    </script>

    <br><br>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    store_path(params[:store_id]), :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>