<%= form_for @store_product, :html => {:class => "form-horizontal store_product", multipart: true} do |f| %>

    <% if @store_product.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@store_product.errors.count, "error") %> prohibited this store_product
              from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @store_product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="row">
      <ul class="thumbnails files">
        <% unless @store_product.pictures.empty? %>
            <% @store_product.pictures.each do |pic| %>
                <%= f.fields_for 'pictures_attributes[]', pic do |fp| %>
                    <%= fp.hidden_field :id %>
                    <li class="span3">
                      <div class="thumbnail">
                        <%= image_tag pic.image.url, size: '200x200' %>
                        <div class="caption">
                          <p style="text-align: center;">
                            <%= fp.check_box :_destroy, value: true %>
                            <%= fp.label 'delete' %>
                          </p>
                        </div>
                      </div>
                    </li>
                <% end %>
            <% end %>
        <% end %>
      </ul>
    </div>

    <div class="control-group">
      <%= f.label :pictures, :class => 'control-label' %><br>

      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true %><br>
      </div>
    </div>

    <div class="form-group">
      <%#= f.label :name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, placeholder: :name.capitalize, :required => true, :class => 'form-control awesomplete', :id => 'f-name', autocomplete: 'off' %>
      </div>
      <ul id="namelist" class="hidden">
        <%# Product.all.order('name ASC').each do |p| %>
        <% Product.new.all_unique('name').each do |n| %>
            <li> <%= n %> </li>
        <% end %>
      </ul>
      <%= f.error_span(:name) %>
    </div>

    <div class="form-group">
      <%#= f.label :product_type, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :product_type, placeholder: :product_type.capitalize, :class => 'form-control awesomplete', :id => 'f-product_type', autocomplete: 'off' %>
        <%#= f.select :product_type, ProductType.all.order('category ASC').collect { |p| p.category } << ProductType.new(:category => 'New Category').category, {include_blank: 'Select Category'}, :class => 'form-control', :id => 'f-category-select' %>
      </div>
      <ul id="producttypelist" class="hidden">
        <%# Product.all.order('product_type ASC').each do |p| %>
        <% ProductType.new.all_unique.each do |p| %>
            <li> <%= p %> </li>
        <% end %>
      </ul>
      <%= f.error_span(:product_type) %>
    </div>

    <div class="form-group">
      <%#= f.label :brand, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :brand, placeholder: :brand.capitalize, :class => 'form-control', :id => 'f-brand', autocomplete: 'off' %>
      </div>
      <ul id="brandlist" class="hidden">
        <%# Product.all.order('brand ASC').each do |p| %>
        <% Product.new.all_unique('brand').each do |b| %>
            <li> <%= b %> </li>
        <% end %>
      </ul>
      <%= f.error_span(:brand) %>
    </div>
    <div class="form-group">
      <%#= f.label :manufacturer, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :manufacturer, placeholder: :manufacturer.capitalize, :class => 'form-control', :id => 'f-manufacturer', autocomplete: 'off' %>
      </div>
      <ul id="manuflist" class="hidden">
        <%# Product.all.order('manufacturer ASC').each do |p| %>
        <% Product.new.all_unique('manufacturer').each do |m| %>
            <li> <%= m %> </li>
        <% end %>
      </ul>
      <%= f.error_span(:manufacturer) %>
    </div>

    <div class="form-group">
      <%#= f.label :price, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :price, placeholder: :price.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:price) %>
    </div>
    <div class="form-group">
      <%#= f.label :stock, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :stock, placeholder: :stock.capitalize, :class => 'form-control' %>
      </div>
      <%= f.error_span(:stock) %>
    </div>
    <div class="form-group">
      <div class="col-lg-10">
        <%= f.text_field :description, placeholder: :description, :class => 'form-control' %>
      </div>
      <%= f.error_span(:description) %>
    </div>
    <div id="addVariant">
      <ul id="variantnamelist" class="hidden">
        <% Variant.new.all_unique.each do |v| %>
            <li> <%= v %> </li>
        <% end %>
      </ul>
      <% @store_product.variants.each do |v| %>
          <li>
            <%= render 'variant_form', variant: v, f: f %>
            <a href="#" id="cancel_variant" class="btn btn-default">Cancel Variant</a>
          </li>
      <% end %>
    </div>
    <a href="javascript:;" id="addNewVariant" class="btn btn-default">Add New Variant</a>
    <%= f.hidden_field :store_id, :value => params[:store_id] %>
    <br><br>

    <script>
      function use_awesomplete() {
        new Awesomplete(document.getElementById("f-name"), {list: "#namelist", minChars: 1, autoFirst: true});
        new Awesomplete(document.getElementById("f-brand"), {list: "#brandlist", minChars: 1, autoFirst: true});
        new Awesomplete(document.getElementById("f-manufacturer"), {list: "#manuflist", minChars: 1, autoFirst: true});
        new Awesomplete(document.getElementById("f-product_type"), {
          list: "#producttypelist",
          minChars: 1,
          autoFirst: true
        });
        // new Awesomplete(document.getElementById("f-variant"), {list: "#variantnamelist", minChars: 1, autoFirst: true});
      }
      window.onload = use_awesomplete;
    </script>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    store_path(params[:store_id]), :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>