<%= fields_for 'store_product[variants_attributes][]', variant, index: (variant.new_record? ? variant.object_id : variant.id) do |v| %>
    <%= v.hidden_field :id unless variant.new_record? %>
    <%= v.hidden_field :_destroy, value: false, class: 'destroy-flag' %>

    <div class="form-group">
      <div class="col-lg-10">
        <%= v.label :name, "Variant Category" %><br>
        <%= v.text_field :name, placeholder: "Variant Category", :class => 'variant-name' %><br>
      </div>
      <div class="col-lg-10">
        <%= v.label :variant_category, "Variant Value" %><br>
        <%= v.text_field :value, placeholder: 'Variant value'.capitalize, :class => 'variant-value', data: {load: variant.to_token.map { |val| {name: val} }.to_json} %>
        <br>
      </div>
      <%= v.error_span(:description) %>
    </div>
    <a href="#" id="cancel_variant" class="btn btn-default">Cancel Variant</a><br><br>

    <script>
      $(document).ready(function() {
        variant_complete();
      });
    </script>
<% end %>