<%= fields_for 'store_product[variants_attributes][]', variant, index: (variant.new_record? ? variant.object_id : variant.id) do |v| %>
    <%= v.hidden_field :id unless variant.new_record? %>
    <%= v.hidden_field :_destroy, value: false, class: 'destroy-flag' %>

    <div class="panel panel-default">
      <div class="form-group">
        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">
            <%= v.text_field :name, size: "10", placeholder: "Description", :class => 'variant-name form-control' %><br>
          </h3>
          <div class="pull-right">
            <a href="#" id="cancel_variant" class="close"><span>&times;</span></a>
          </div>
        </div>
        <div class="panel-body">
          <%= v.text_field :value, placeholder: "Values", :class => 'form-control token-input variant-value', data: {load: variant.to_token.map { |val| {name: val} }.to_json} %>
        </div>
      </div>
      <%= v.error_span(:description) %>
    </div>
<% end %>