<div class="product jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <% unless @store_product.pictures.empty? %>
            <% @store_product.pictures.each_with_index do |pic, index| %>
                <% if index == 0 %>
                    <div class="thumbnail main-image-wrapper">
                      <%= image_tag pic.image.url, class: "main-image" %>
                    </div>
                <% end %>
                <% unless pic[index+1].nil? %>
                    <div class="previews">
                      <div class="col-xs-2">
                        <div class="thumbnail">
                          <img src="<%= image_path 'router/router-1.jpg' %>">
                        </div>
                      </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>

      </div>
      <div class="col-md-8 col-xs-12">
        <div class="header">

          <h1><%= @store_product.get_name %></h1>
        </div>
        <div class="details">
          <div class="row">
            <div class="qr">
              <%= raw @qr.as_html %>
            </div>
            <p class="col-sm-3">
              <b>Category</b>
            </p>
            <p class="col-sm-9">
              <%= @store_product.get_type %>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Brand</b>
            </p>
            <p class="col-sm-9">
              <%= @store_product.get_brand %>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Manufacturer</b>
            </p>
            <p class="col-sm-9">
              <%= @store_product.get_manufacturer %>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Price</b>
            </p>
            <p class="col-sm-9">
              <%= "P#{@store_product.price}" %>
            </p>
          </div>
          <div class="row">
            <p class="col-sm-3">
              <b>Stocks</b>
            </p>
            <p class="col-sm-9">
              <%= @store_product.stock %>
              <span class="small text-muted activity"><%= render_activities @activities %></span>
            </p>
          </div>
          <% if !@store_product.variants.empty? %>
              <% @store_product.variants.each do |variant| %>
                  <div class="row">
                    <p class="col-sm-3">
                      <b><%= variant.name %></b>
                    </p>
                    <p class="col-sm-9">
                      <!--Wool, Cotton, Cloth-->
                      <span class="label label-default"><%= variant.value %></span>
                      <!-- <span class="label label-default">Cotton</span> -->
                      <!-- <span class="label label-default">Cloth</span> -->
                    </p>
                  </div>
              <% end %>
          <% end %>
          <p><%= @store_product.description %></p>
          <div class="actions">
            <div class="btn-group">
              <div class="btn-group">
                <%= link_to edit_store_product_path(@store_product, :store_id => @store_product.store_id), :class => 'btn btn-primary' do %>
                    <i class="fa fa-pencil"></i>
                    Edit
                <% end %>
              </div>
              <div class="btn-group">
                <%= link_to store_product_path(@store_product),
                            :method => 'delete',
                            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                            :class => 'btn btn-danger' do %>
                    <i class="fa fa-trash"></i>
                    Delete
                <% end %>
              </div>
            </div>
          </div>

        </div>
        </p>
      </div>
    </div>
  </div>
</div>