<%- model_class = StoreProduct -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @store_product.get_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_type) %>:</strong></dt>
  <dd><%= @store_product.get_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brand) %>:</strong></dt>
  <dd><%= @store_product.get_brand %></dd>
  <dt><strong><%= model_class.human_attribute_name(:manufacturer) %>:</strong></dt>
  <dd><%= @store_product.get_manufacturer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @store_product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stock) %>:</strong></dt>
  <dd><%= @store_product.stock %></dd>
  <dd>
    <div class="activity">
      <%= render_activities @activities %>
    </div>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %></strong></dt>
  <dd><%= @store_product.description %></dd>
</dl>
<div>
  <h3>Variants:</h3>
  <% if !@store_product.variants.empty? %>
      <%#= print "WOWOWOWOWOW #{@store_product.product_variants[0].variant.name} :: #{@store_product.product_variants[0].variant.value}" %>
      <dl class="dl-horizontal">
        <% @store_product.variants.each do |variant| %>
            <!--<dt><strong><%#= model_class.human_attribute_name("ONE VAR") %>:</strong></dt>-->
            <!--<dd><%#= 'ONE VAL' %></dd>-->
            <dt><strong><%= model_class.human_attribute_name(variant.name) %>:</strong></dt>
            <dd><%= variant.value %></dd>
        <% end %>
      </dl>
  <% else %>
      <%= "None" %>
  <% end %>
</div>
<br><br>
<div class="qr-view">
  <h3>QR Code:</h3>
  <%= raw @qr.as_html %>
</div>
</br>

<%= link_to t('.back', :default => t("helpers.links.back")),
            store_path(@store_product.store_id), :class => 'btn btn-default' %>
<%= link_to t('.restock', :default => t("helpers.links.restock")),
            restock_store_product_path(@store_product, :store_id => @store_product.store_id), :class => 'btn btn-default' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_store_product_path(@store_product, :store_id => @store_product.store_id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            store_product_path(@store_product),
            :method => 'delete',
            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
            :class => 'btn btn-danger' %>
