<!-- <% if current_user %> -->
    <!-- <%= link_to 'View Account', user_path(current_user)%> | -->
    <!-- <%= link_to 'View Owned Stores', user_path(current_user)%> -->
<!-- <% end %> -->

<div class="splash">
		<!-- <h1 class="splash-title fade-in">GRAB.TODAY</h1> -->
		<a href="#" class="splash-arrow">
      <%= image_tag('down-arrow.png')%>
    </a>
</div>

<% if current_user %>
    <!-- <%= link_to 'View Account', user_path(current_user) %> | -->
    <!--<%= link_to 'View Owned Stores', owned_stores_user_path(current_user) %> | -->
<% end %>
