<!DOCTYPE html>
<html>
<head>
  <title>Grab.Today</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="assets/stylesheets/custom.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body id="body">
  <%= nav_bar fixed: :top, responsive: true, brand: image_tag('grab_today.png') do %>
    <% if current_user %>
        <%= menu_group pull: :right do %>
            <%= menu_group do %>
                <%= menu_item "Home", root_path %>
                <%#= menu_item "About Us", about_us_path %>
                <%#= menu_item "Contact", contact_path %>
            <% end %>
            <% if current_user.first_name %>
                <% @greet = 'Hello, ' + current_user.first_name + '!' %>
            <% else %>
                <% @greet = 'Hello there!' %>
            <% end %>
            <%= drop_down @greet do %>
                <%= menu_item "View Account", user_path(current_user) %>
                <%= drop_down_divider %>
                <%= menu_item "Sign Out", '/sign_out', :method => :delete %>
            <% end %>
        <% end %>
    <% else %>
        <%= menu_group pull: :right do %>
            <%= menu_item "Sign In", '/sign_in' %>
            <%= menu_item "Sign Up", '/sign_up' %>
        <% end %>
    <% end %>
<% end %>

  <% if notice %>
    <div class="notifiers notice">
      <span class="closebtn">&times;</span>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="notifiers alert">
      <span class="closebtn">&times;</span>
      <%= alert %>
    </div>
  <% end %>

  <%= image_tag('Billboard.png', class: "banner-wrap" )%>

  <div id="contents" class="container">
    <div class="row">
      <div class="col-centered">
        <div class="yield-block">
          <table id="yield-table">
            <tr>
              <td id="col-left">
              </td>
              <td id="col-mid">
                <!-- <div class="banner-wrap"> -->
              <!-- </div> -->
                <%= yield %>
              </td>
              <td id="col-right">
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  // Loop through all close buttons
  for (i = 0; i < close.length; i++) {
      // When someone clicks on a close button
      close[i].onclick = function(){

          // Get the parent of <span class="closebtn"> (<div class="alert">)
          var div = this.parentElement;

          // Set the opacity of div to 0 (transparent)
          div.style.opacity = "0";

          // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
          setTimeout(function(){ div.style.display = "none"; }, 600);
      }

      $(".notifiers").alert();
        window.setTimeout(function() { $(".notifiers").alert('.closebtn'); }, 2000);
      }
</script>
</body>

<!-- <%= javascript_include_tag('application.js') %> -->
</html>
