<!DOCTYPE html>
<html>
<head>
  <title>Grab.Today</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="header">
    <div class="container">
      <!--<%#= link_to root_path do %>-->
        <!--<img src="http://s3.amazonaws.com/codecademy-content/courses/rails-auth/img/fotofoto-logo.svg" width="80" height="80"> &#12501; &#65387; &#12488; &#12501; &#65387; &#12488;-->
      <!--<%# end %>-->
      <div class="nav pull-right">
        <% if current_user %>
            <% if current_user.first_name %>
              <%= 'Hello, ' + current_user.first_name + '!' %> |
              <%= link_to 'Logout', logout_path, :method => :delete %>
                <% else  %>
              <%= 'Hello there!' %>
              <%= link_to 'Logout', logout_path, :method => :delete %>
            <% end %>
        <% else %>
            <%= link_to "Login", 'sign_in' %></a> |
            <%= link_to "Signup", 'sign_up' %></a>
        <% end %>
      </div>
    </div>
  </div>

<%= yield %>

</body>
</html>
