<!DOCTYPE html>
<html>
<head>
  <title>Grab.Today</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- <link rel="stylesheet" type="text/css" href="assets/stylesheets/custom.scss"> -->
  <%= javascript_include_tag 'autocomplete-rails.js', 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700|Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body id="body">
<%= nav_bar fixed: :top, responsive: true, brand: image_tag('grab_today4.png') do %>
    <% if current_user %>
        <%= menu_group pull: :right do %>
            <%= menu_group do %>
                <%= menu_item "Home", root_path %>
                <%#= menu_item "About Us", about_us_path %>
                <%#= menu_item "Contact", contact_path %>
            <% end %>
            <% if current_user.first_name %>
                <% @greet = 'Hello, ' + current_user.first_name + '!' %>
            <% else %>
                <% @greet = 'Hello there!' %>
            <% end %>
            <%= drop_down @greet do %>
                <%= menu_item "View Account", user_path(current_user) %>
                <%= current_user.user_type == 'Customer' ? '' : (menu_item "View Stores", owned_stores_user_path(current_user)) %>
                <%= drop_down_divider %>
                <%= menu_item "Sign Out", '/sign_out', :method => :delete %>
            <% end %>
            <%= image_tag current_user.avatar, size: "30x30" %>
        <% end %>
    <% else %>
        <%= menu_group pull: :right do %>
            <%= menu_item "Sign In", '/sign_in' %>
            <%= menu_item "Sign Up", '/sign_up' %>
        <% end %>
    <% end %>
<% end %>

<% if notice %>
    <div class="notifiers notice">
      <span class="closebtn">&times;</span>
      <%= notice %>
    </div>
<% end %>
<% if alert %>
    <div class="notifiers alert">
      <span class="closebtn">&times;</span>
      <%= alert %>
    </div>
<% end %>

<div id="contents" class="container">
  <div class="yield-block">
    <%= yield %>
  </div>
</div>
</div>

</body>
</html>
