<!DOCTYPE html>
<html>
<head>
  <title>Grab.Today</title>
  <%= stylesheet_link_tag 'application', 'token-input-facebook', media: 'all' %>
  <%= javascript_include_tag 'application', 'jquery.tokeninput' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body class="mockups" id="body">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">grab.today</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if current_user %>
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= root_path %>">Home</a></li>
            <%= current_user.user_type == 'Customer' ? '' : (menu_item "Stores", owned_stores_user_path(current_user)) %>
            <!--<li><a href="<%= stores_mockups_path %>">Stores</a></li>-->
            <li><a href="#contact">Products</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <% if current_user.first_name %>
                    Hello, <%= current_user.first_name %>!
                <% else %>
                    Hello there!
                <% end %>
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= user_path(current_user) %>">My Profile</a></li>
                <li><%= link_to("Sign Out", '/sign_out', :method => :delete) %></li>
              </ul>
            </li>
          </ul>
      <% else %>
          <%= menu_group pull: :right do %>
              <%= menu_item "Sign In", '/sign_in' %>
              <%= menu_item "Sign Up", '/sign_up' %>
          <% end %>
      <% end %>
    </div>
  </div>
</nav>
<!--<%# if notice %>-->
<!--<div class="notifiers notice">-->
<!--<span class="closebtn">&times;</span>-->
<!--<%= notice %>-->
<!--</div>-->
<!--<%# end %>-->
<!--<%# if alert %>-->
<!--<div class="notifiers alert">-->
<!--<span class="closebtn">&times;</span>-->
<!--<%#= alert %>-->
<!--</div>-->
<!--<%# end %>-->

<%= yield %>


<div class="container">
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2016 Chromedia Far East, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>
</body>
</html>

